.wrapper {
  display: flex;
  flex-direction: column;
}

.details-wrapper {
  margin: 1rem;
}

.analysis-wrapper {
  margin: 1rem;
}

.actions-wrapper {
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
}

.action-buttons {
  margin: 0rem 2rem;
}
