<div class="wrapper">
  <div class="left-wrapper">
    <ng-container *ngFor="let nodule of nodules">
      <app-nodule-snippet
        [nodule]="nodule"
        [lobeList]="optionList.lobeList"
        [typeList]="optionList.typeList"
        [borderList]="optionList.borderList"
        (onUpdateNodule)="updateNodule($event)"
      ></app-nodule-snippet>
    </ng-container>
  </div>
  <div class="right-wrapper">
    <app-fleischner-risk [risk]="risk"></app-fleischner-risk>

    <quill-editor
      class="editor-styles"
      [(ngModel)]="content"
      trackChanges="user"
      [modules]="modules"
      (onEditorCreated)="onEditorCreation($event)"
    ></quill-editor>

    <div *ngIf="editor" class="clipboard-conatiner">
      <button
        mat-stroked-button
        [cdkCopyToClipboard]="editorPlainText"
        (click)="onCopyContent()"
      >
        Copy to Clipboard
      </button>
    </div>
  </div>
</div>
