<mat-card class="my-card">
  <mat-card-header>
    <mat-card-title> Fleischner Risk</mat-card-title>
  </mat-card-header>
  <mat-card-content class="my-content">
    <mat-radio-group aria-label="Fleischner Risk" [value]="risk">
      <mat-radio-button
        class="my-option"
        color="primary"
        value="false"
        >Low Risk</mat-radio-button
      >
      <mat-radio-button class="my-option" value="true"
        >High Risk</mat-radio-button
      >
    </mat-radio-group>
  </mat-card-content>
</mat-card>
