<mat-toolbar color="primary">
  <!-- <button
    mat-icon-button
    class="menu-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->

  <img
    class="logo"
    src="assets/images/predible_logo.svg"
    routerLink=""
  />

  <span class="spacer"></span>

  <div class="my-search-container">
    <input
      #reportInput
      class="my-search-input"
      placeholder="Quick Search"
      (keydown.enter)="navigate(reportInput.value)"
      [matAutocomplete]="auto"
    />
    <mat-icon
      class="my-search-icon"
      (click)="navigate(reportInput.value)"
      >search</mat-icon
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="
          let option of [
            { viewValue: 'Report 1', id: 1 },
            { viewValue: 'Report 2', id: 2 }
          ]
        "
        [value]="option.id"
      >
        {{ option.viewValue }}
      </mat-option>
    </mat-autocomplete>
  </div>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Open app settings"
    [matMenuTriggerFor]="settings"
  >
    <mat-icon>settings</mat-icon>
  </button>

  <mat-menu #settings="matMenu">
    <button mat-menu-item (click)="comingSoon()">
      <mat-icon>account_circle</mat-icon>
      <span>My Profile</span>
    </button>
    <button mat-menu-item (click)="comingSoon()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
