.nodule-card {
  margin: 1rem;
}

.snippet-container {
  display: flex;
}

.mat-card-header-text {
  margin: 0;
}

.snippet-details {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 90%;
}

.snippet-img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  width: 100%;
}

@media only screen and (max-width: 600px) {
  .img {
    width: 100px;
  }

  .nodule-card {
    margin: 1rem 0rem;
  }
}
