<mat-card class="nodule-card">
  <mat-card-header>
    <mat-card-title>
      <mat-checkbox class="checkbox-margin">Nodule 1</mat-checkbox>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="snippet-container">
      <div class="snippet-details">
        <mat-form-field class="full-width">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi" />
        </mat-form-field>
      </div>
      <div class="snippet-img">
        <!-- <div class="img"></div> -->
        <img class="img" src="https://fakeimg.pl/180x180/" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
